<!DOCTYPE html>
<html lang="en">
<title>{% block title %}{% endblock %} - ARANGO UNIVERSITY</title>
<link rel="shortcut icon" href="/static/favicon.ico">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
div {text-align: center}
.mySlides {display: none}
html {min-height: 100%;}
table {white-space: nowrap}
.footer {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <!---
    <a href="/hello" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TEMPLATE</a>
    <a href="/tablas/people" class="w3-bar-item w3-button w3-padding-large w3-hide-small">VER TABLA PEOPLE</a>
    -->
    <a href="/marks" class="w3-bar-item w3-button w3-padding-large">MARKS</a>

    <div class="w3-dropdown-hover w3-hide-small w3">
      <button class="w3-padding-large w3-button" title="More">MARKS DROPDOWN<i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/marks/tia" class="w3-bar-item w3-button">TIA</a>
        <a href="/marks/sist" class="w3-bar-item w3-button">SISTEMAS</a>
        <a href="/marks/mining" class="w3-bar-item w3-button">MINING</a>
      </div>
    </div>

    <a href="/teacher" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TEACHER</a>
  
  </div>
</div>


<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1050px" id="band">
    
    {% block content %}{% endblock %}

  </div>
  
<!-- End Page Content -->
</div>



<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>



</body>
</html>
